<!DOCTYPE html>
<html lang="he">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
<h1>Todo List</h1>
<form id="taskForm">
    <input type="text" id="taskInput" placeholder="Enter a task">
    <button type="submit">Add Task</button>
    <button id="checkAll">Check All</button>
    <button id="deleteChecked">Delete Checked</button>
</form>
<ul id="taskList"></ul>

<script src="../static/js/script.js" data-list-id="{{ list_id }}"></script>
</body>
</html>
